<div class="row">
  <div class="col-xs-12">
    <img src="{{recipe.imagePath}}" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-togglle">Manage Recipe <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li class=""><a>Shopping List</a></li>
        <li class=""><a>Edit List</a></li>
        <li class=""><a>Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h6>{{recipe.description}}</h6>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h6>Ingredients</h6>
  </div>
</div>
